@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* Montserrat - Paragraph */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap'); /* Prompt - Header?? */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); /* Varela Round - any */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap'); /*Secular One - header?? */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap'); /*Encode Sans Expanded*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /*Poppins*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.wrapper {
    width: 100%;
    background-color: #edeef2;
    background-image: url('imgs/backG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav-cont {
    padding: 24px;
    background-color: rgb(255, 247, 26);
    text-align: center;
}
.nav-cont img {
    width: 75px;
}
.content {
    padding-top: 32px;
    max-width: 1000px;
    margin: 0 auto;
    background-color:#ebebeb;
}
.headercont {
    background-image: url('imgs/headerimg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    height: 60vh;
}
.headercont h1 {
    padding: 32px 0px 0px 0px;
    font-family: 'Secular One';
    font-size: 82px;
    color: rgb(230, 230, 230);
    text-shadow: 0px 8px 5px #000000;
    
}
.codeTitle {
    font-size: 48px;
    font-family: 'Encode Sans Expanded';
    color: rgb(255, 56, 56);
    text-shadow: 0 0 2px #000000;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.493);
    max-width: 800px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 4px 2px #000000;
    transition: 200ms;
}
.codeTitle:hover {
    box-shadow: 0 10px 2px rgb(255, 56, 56);
    cursor:default;
    
}
.codeTitle span {
    color: rgba(153, 0, 255, 0.913);
}

.content-header {
    background-color: #22366e;
}
.content-header p {
    text-align: center;
    font-family: 'Montserrat';
    color: rgb(239, 239, 239);
    padding-bottom: 24px;
}
.header2title {
    color: white;
    padding-top: 24px;
    font-size: 32px;
    font-family: 'Varela Round';
    font-weight: bold;
}
.content-header span {
    font-weight: bold;
    color: rgb(255, 48, 48);
}

.boxlayout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 64px;
}
.imgcont {
    margin: 10px;
}
.descCont {
    max-width: 600px;
    background-color: rgba(24, 24, 24, 0.091);
    border-radius: 8px;
    padding: 32px;

}
.descCont span {
    color: rgb(210, 1, 1);
    font-weight: bold;
    font-family: 'Prompt';
}
.green {
    color: rgb(47, 255, 47);
}
.numIndex {
    color: rgb(192, 42, 42);
    font-weight: bold;
    font-family: 'Prompt';
    user-select: none;
}
.boxlayout img {
    width: 200px;
    /*background-color: rgb(154, 154, 154);*/
    background-image: 'imgs/headerimg.jpg';
    border-radius: 10px;
    justify-content: flex-start;
}
.boxlayout p{
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat';
}
.infocont {
    padding-top: 32px;
}
.infoheader {
    background: linear-gradient(#e4e4e4, #6a70b3);
    color: rgb(27, 27, 27);
}
.headerP {
    font-size: 32px;
    font-family: 'Prompt';
    font-weight: bold;
}
.divmargin p {
    font-family: 'Montserrat';
    text-align: justify;
    text-align-last: center;
    padding-bottom: 12px;
}
.divmargin{
    padding: 48px 0px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.divmarginIMG {
    background-image: url('imgs/labPIC.jpg');
    background-size: cover;
    background-position: 25%;
    border-radius: 10px;
    padding: 48px 0px;
    height: 350px;
    max-width: 800px;
    margin: 0 auto;
}
.bottomheader {
    background: linear-gradient(#6a70b3, #e4e4e4);
}
.knowinfo {
    background-color: rgb(244, 244, 244);
}
.headeragain {
    font-family: 'Poppins' ;
    text-align: center;
    color:rgb(27, 27, 27);
}
.buttondiv {
    margin-top: 20px;
    padding: 10px 8px;
    border-radius: 8px;
    margin-right: 2px;
    color: rgb(216, 216, 216);
    cursor: default;
    font-family: 'Poppins';
    font-weight: bold;
}
.btn1 {
    background-color: rgb(80, 227, 55);
}
.btn2{
    background-color: rgb(91, 143, 255);
}
.btn3{
    background-color: rgb(145, 111, 0);
}
.btn4{
    background-color: red;
}
.btn5{
    background-color: rgb(230, 64, 64);
}
.btn6{
    background-color: rgb(52, 52, 52);
}
.btn7{
    background-color: rgb(0, 103, 96);
}
.btncont {
    padding: 32px;
    background-color:#24242492;
}
.firstLayer {
    padding: 10px;
}
.secondLayer{
    padding: 10px;
}
.thirdLayer {
    padding: 10px;
}